<%-include('Partials/head')%>
<div class = "jumbotron">
    <a href = "javascript:history.back()"class = "btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Back</a>
    <p class = "Error"><%=ErrorCaught%></p>
    
</div>

<%-include('Partials/footer')%>