<%- include('partials/head') %> 
<form action="/Check" method="post">
    <div class="form-group">
        <label for="Password">Enter Blogger Password:</label>
        <input type="password" name="Password" class="form-control" id="Password" placeholder="Enter Password.">
          </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('partials/footer') %> 