<%-include('partials/head')%>
<h2 class="blog-header">SMU Coaches</h2>
<hr/>
<div class = "container">
    <div class="row">
       <div class="mini-blog col-md-4 col-sm-12" >        
    <div class="blog-intro">
        <h2>Sport 1</h2>
        <h4>Coach 1</h4>
        <img class = "CoachPic" src="Assets\Img\User.jpg" alt=""> 
     <p> <ul>
          <li>Tel: 079 123 4567</li>
          <li>Whatsapp: 079 123 9987</li>
          <li>Email:Caoch.Smu@gmail.com</li>
      </ul>
      </p>        
    </div>
    </div>

    <div class="mini-blog" col-md-4 col-sm-12>        
        <div class="blog-intro">
            <h2>Sport 2</h2>
            <h4>Coach 2</h4>
            <img class = "CoachPic" src="Assets\Img\User.jpg" alt=""> 
         <p> <ul>
              <li>Tel: 079 123 4567</li>
              <li>Whatsapp: 079 123 9987</li>
              <li>Email:Caoch.Smu@gmail.com</li>
          </ul>
          </p>        
        </div>
        </div>
        <div class="mini-blog col-md-4" col-sm-12>        
            <div class="blog-intro">
                <h2>Sport 1</h2>
                <h4>Coach 1</h4>
                <img class = "CoachPic" src="Assets\Img\User.jpg" alt=""> 
             <p> <ul>
                  <li>Tel: 079 123 4567</li>
                  <li>Whatsapp: 079 123 9987</li>
                  <li>Email:Caoch.Smu@gmail.com</li>
              </ul>
              </p>        
            </div>
            </div>
        </div>
              
        </div>
 
<%-include('partials/footer')%>