<%-include('partials/head')%>
<form action="/Login" method="post">
    <div class="form-group">
        <label for="StudentNumber">Enter Student Number:</label>
        <input type="text" name="StudentNumber" class="form-control" id="StudentNumber" placeholder="Enter Student No.">
          </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
</form>



<%-include('partials/footer')%>